.form-title {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #bcb8bb;
  margin: 25px auto 28px;
}

.form-subtitle {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #797779;
  margin: 14px 0 5px 15px;
}

.form-input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #0c060f;
  width: 192px;
  height: 55px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 9px;
  padding-left: 15px;
  &.task {
    width: auto;
  }
}

.form-label {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #bcb8bb;
  margin-bottom: -10px;
  z-index: 2;
  background-color: white;
  width: fit-content;
  margin-left: 15px;
  padding: 0 3px;
}

.search-btn {
  width: 78px;
  height: 33px;
  border: 1px solid #7a69ee;
  border-radius: 50px;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.5rem;
}
.add-btn {
  width: 78px;
  height: 33px;
  background: #7a69ee;
  border-radius: 50px;
  color: #ffffff;
}
.avatar {
  width: 96px;
  height: 96px;
  background-size: contain;
  border-radius: 50%;
}
.search-icon {
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
}
.search-text {
  align-self: center;
  color: #7a69ee;
  margin-left: 5px;
}

.days {
  width: auto;
  align-items: center;
  padding: 0 17px;
  letter-spacing: 0.015em;
  color: #bdbdbd;
}
