.app-header {
    height: 7vh;
    padding: 3rem 1rem;
    box-shadow: 5px 4px 20px #5b4ccc40;
    background-color: $clr-bg;
    position: fixed;
    left: 65px;
    right: 0;

    .page-title {
        color: $clr-prime2;
    }
}