.comments {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  font-family: poppins;
  border-bottom: none;
  text-align: center;
  padding: 6px 0;
  width: 90%;
  align-self: center;
  .comments-avatar {
    width: 24px;
    height: 24px;
    background-size: contain;
    border-radius: 50%;
    margin-right: 10.5px;
  }
}
