.Members {
  margin: 0 20px;
  font-family: poppins;
  .members-add-button {
    background-color: $clr-prime1;
    color: #ffffff;
    border: none;
    width: 265px;
    height: 45px;
  }
  .members-filter-btn,
  .members-sort-btn {
    border: 1px solid #7a69ee;
    width: 118px;
    height: 42px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: $clr-prime1;
    background-color: #ffffff;
  }
}
