.grid-container {
  display: grid;
  grid-template-areas:
    'statistics statistics statistics comments'
    'Tasks Tasks workers comments';
  gap: 21px;
  padding: 20px 25px 25px 20px;
  .grid-item {
    box-shadow: 5px 4px 20px #5b4ccc16;
  }
  .item1 {
    grid-area: statistics;
  }
  .item2 {
    grid-area: Tasks;
  }
  .item3 {
    grid-area: workers;
  }
  .item4 {
    grid-area: comments;
  }

  > div {
    background-color: #ffffff;
    padding: 28px 0;
    font-size: 1.875rem;
  }
  .overview-titles {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    color: #0b0830;
  }
  .title-container {
    align-items: center;
  }
  .title-icon {
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .overview-titles {
    margin-left: 8px;
  }
  .popup-icon {
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
