.grid-container {
  display: grid;
  grid-template-areas:
    'statistics statistics statistics comments'
    'Tasks Tasks workers comments';
  gap: 21px;
  padding: 10px;
  .item1 {
    grid-area: statistics;
  }
  .item2 {
    grid-area: Tasks;
  }
  .item3 {
    grid-area: workers;
  }
  .item4 {
    grid-area: comments;
  }

  > div {
    background-color: #ffffff;
    padding: 28px 0;
    font-size: 1.875rem;
  }
  .overview-titles {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.015em;
    color: #0b0830;
  }
  .title-container {
    margin-left: 25px;
    align-items: center;
  }
  .overview-titles {
    margin-left: 8px;
  }
}
