.workers {
  width: 100%;
  .css-rqglhn-MuiTable-root,
  .css-15wwp11-MuiTableHead-root {
    width: 90%;
    margin: 17px auto;
  }
  .table-header {
    font-size: 0.75rem;
    font-family: 'Poppins';
  }
  .table-header:nth-of-type(2) {
    padding: 6px 60px 6px 0;
  }
  .table-content {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.005em;
    color: #0b0830;
  }
  .member-avatar {
    width: 1.5rem;
    height: 1.5rem;
    background-size: contain;
    border-radius: 50%;
    margin-right: 10.5px;
  }
}
