* {
    box-sizing: border-box;
}

body {
    font-family: poppins;
    letter-spacing: 0.005em;
}

h1,
h2 {
    font-family: poppins-bold;
    font-size: 3.125rem;
    letter-spacing: 0.02em;
}

h3 {
    font-family: poppins-semi;
    font-size: 1.9375rem;
    letter-spacing: 0.01em;

}

h4 {
    font-family: poppins-medium;
    font-size: 1.5625rem;
    letter-spacing: 0.01em;
}

section,
main,
footer {
    padding: 0.3rem;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


a {
    font-family: poppins;
    font-size: 0.75em;
    letter-spacing: 0.015em;
}

button {
    cursor: pointer;
    font-family: poppins-medium;
    letter-spacing: 0.02em;
}