// Colors
$clr-font: #0B0830;
$clr-bg: #FBFAFF;
$clrPrime: #E6E1FE;
$clrSecondary: #0BB4FE;
$clrSecondary2: #EBF9FF;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;