// Colors
$clr-font: #0B0830;
$clr-bg: #FBFAFF;
$clr-prime: #E6E1FE;
$clr-prime2: #1B1472;
$clr-prime3: #5B4CCC;
$clr-prime4: #9C8EF4;
$clr-prime5: #B3A6F9;
$clr-secondary: #0BB4FE;
$clr-secondary2: #EBF9FF;
$clr-error: #F42D2D;
$clr-warning: #FFA02E;
$clr-success: #1CB854;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;