// Colors
$clr-font: #0b0830;
$clr-bg: #fbfaff;
$clr-prime: #e6e1fe;
$clr-prime1: #7a69ee;
$clr-prime2: #1b1472;
$clr-prime3: #5b4ccc;
$clr-prime4: #9c8ef4;
$clr-prime5: #b3a6f9;
$clr-secondary: #0bb4fe;
$clr-secondary2: #ebf9ff;
$clr-error: #f42d2d;
$clr-warning: #ffa02e;
$clr-success: #1cb854;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
